{{ define "main" }}
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">
        {{ .Content }}
      </article>

      <ul class="pager blog-pager">
        {{ if .PrevInSection }}
          <li class="previous">
            <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; {{ i18n "previousPost" }}</a>
          </li>
        {{ end }}
        {{ if .NextInSection }}
          <li class="next">
            <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }} &rarr;</a>
          </li>
        {{ end }}
      </ul>

     <!-- gitalk 评论功能 -->
     {{ if (.Site.Params.gitments) }}
        <div id="git-comments"></div>
        <!--
        <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
        <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
        -->
        <link rel="stylesheet" href="https://jjeejj.github.io/css/gitment.css">
        <script src="https://jjeejj.github.io/js/gitment.js"></script>

        <script>
          var gitment = new Gitment({
            id: '{{ page.date }}',  // 可选, 默认为 location.href
            owner: 'ihuan',
            repo: 'Gitments',
            oauth: {
              client_id: '82f5b2abc72d4453892c',
              client_secret: '6454f001be43da56e477b444dd8fcbac4cdc201a',
            }
          })
          gitment.render('git-comments')
        </script>
      {{ end }}
      <!-- end -->

      {{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (.Site.Params.comments)) }}
        {{ if .Site.DisqusShortname }}
          <div class="disqus-comments">
            <!-- {{ template "_internal/disqus.html" . }} -->
            {{ partial "disqus.html" . }}
          </div>
        {{ end }}
        {{ if .Site.Params.staticman }}
          <div class="staticman-comments">
            {{ partial "staticman-comments.html" . }}
          </div>
        {{ end }}
      {{ end }}

    </div>
  </div>
</div>
{{ end }}
